# Data Wrangling with Spark SQL Quiz

This quiz uses the same dataset and most of the same questions from the earlier "Quiz - Data Wrangling with Data Frames Jupyter Notebook." For this quiz, however, use Spark SQL instead of Spark Data Frames.

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import desc
from pyspark.sql import functions as F
from pyspark.sql.types import DateType
from pyspark.sql.types import IntegerType
from pyspark.sql.window import Window

In [2]:
spark = SparkSession \
    .builder \
    .appName("Wrangling Data") \
    .getOrCreate()

path = "data/sparkify_log_small.json"
user_log = spark.read.json(path)

In [3]:
user_log.printSchema()

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: long (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)

In [4]:
user_log.createOrReplaceTempView("user_log_tab")

# Question 1

Which page did user id ""(empty string) NOT visit?

In [11]:
allemptypages = spark.sql("""
          SELECT DISTINCT
          page
          FROM 
          user_log_tab  
          WHERE userId = ''
          ORDER BY 1
          """)

In [12]:
allpages = spark.sql("""
                     SELECT DISTINCT
                     page
                     from user_log_tab
                     ORDER BY 1
                     """)

In [15]:
NonVisitedPages = []
for row in set(allpages.collect()) - set(allemptypages.collect()):
    NonVisitedPages.append(row.page)
print(sorted(NonVisitedPages))

['Downgrade', 'Error', 'Logout', 'NextSong', 'Save Settings', 'Settings', 'Submit Downgrade', 'Submit Upgrade', 'Upgrade']

# Question 2 - Reflect

Why might you prefer to use SQL over data frames? Why might you prefer data frames over SQL?

# Question 3

How many female users do we have in the data set?

In [16]:
spark.sql("""
          SELECT
          COUNT(DISTINCT userId)
          FROM
          user_log_tab
          WHERE gender = 'F'
          """).show()

+----------------------+
|count(DISTINCT userId)|
+----------------------+
|                   462|
+----------------------+

# Question 4

How many songs were played from the most played artist?

In [20]:
spark.sql("""
          SELECT
          artist,
          count(*)
          FROM
          user_log_tab
          WHERE page = "NextSong"
          GROUP BY artist
          ORDER BY 2 DESC
          LIMIT 1
          """).show()

+--------+--------+
|  artist|count(1)|
+--------+--------+
|Coldplay|      83|
+--------+--------+

# Question 5 (challenge)

How many songs do users listen to on average between visiting our home page? Please round your answer to the closest integer.

In [23]:
spark.udf.register("ishome", lambda ishome: int(ishome == "Home"), IntegerType())

In [54]:
basedf = spark.sql("""
          SELECT 
          userId, 
          page, 
          ts,
          CASE WHEN page = 'Home' THEN 1 ELSE 0 END as ishome,
          SUM(CASE WHEN page = 'Home' THEN 1 ELSE 0 END) OVER (PARTITION BY userId ORDER BY ts DESC) AS ishome_cumsum
          FROM
          user_log_tab
          WHERE page IN ('NextSong', 'Home')
          """)

In [55]:
basedf.createOrReplaceTempView("basetab")

In [70]:
user_avg_df = spark.sql("""
          SELECT
          userId,
          ishome_cumsum,
          COUNT(*) AS Avg_Song_No
          FROM
          basetab
          WHERE page = "NextSong"
          GROUP BY 
          userId, 
          ishome_cumsum
          """)

In [71]:
user_avg_df.filter(F.col("userId") == 100).show()

+------+-------------+-----------+
|userId|ishome_cumsum|Avg_Song_No|
+------+-------------+-----------+
|   100|            1|          1|
|   100|            2|          2|
|   100|            3|          2|
+------+-------------+-----------+

In [72]:
user_avg_df.createOrReplaceTempView("user_avg_tab")

In [73]:
spark.sql("""
          SELECT
          AVG(Avg_Song_No) AS Total_Avg_Song_No
          FROM
          user_avg_tab
          """).show()

+-----------------+
|Total_Avg_Song_No|
+-----------------+
|6.898347107438017|
+-----------------+